<!DOCTYPE html>
<html>
<head>
  <title>Dublin Bike Rental Service</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="menu">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Bike Rental</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Bikes", bikes_path %></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <ul class="nav navbar-nav navbar-right" style="float: right;">
        <% if current_user != nil %>              
          <%if current_user.admin == true%>
	    <li><%= link_to "Admin", admin_path %></li>
          <% end %>
          <li style="color:white;"><%= link_to current_user.email.to_s, profile_path %>&nbsp;&nbsp;</li>   
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :style => 'float:right;' %></li>         
        <% else %>
          <li><%= link_to "Register", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
     
    </ul>
   </div>
  </nav>
 </div>
  <div id="container">
    <div id="content">
     <% if flash[:notice] then%>
      <p class="notice"><%= flash[:notice] %></p>
     <% end%>
     <% if flash[:alert] then%>
      <p class="alert"><%= flash[:alert] %></p>
     <% end %>
      <%= yield %>    
      
    </div>
  </div>
 

</body>
</html>
